body{
  margin: 0 auto;
  background-color: #e0e0e0;
}

.top-panel{
  overflow: auto;
  background-color: #212121;
  box-shadow: 2px 2px 5px rgb(94, 94, 94);
  margin-bottom: 30px;
}

.top-panel a{
  color: #eceff1;
  text-decoration: none;
}

header{
  font-family: 'Gloria Hallelujah', cursive;
  overflow: auto;
}

.header-item a{
  padding-left: 8px;
  padding-right: 8px;
}

.header-item h1,h4{
  margin-top: 5px;
  margin-bottom: 10px;
}

.link-item :hover{
  color: orange;
}

.logo-header{
  float: left;
  padding-left: 50px;
}

.login-header{
  float: right;
  padding-right: 5px;
}

nav{
  font-family: 'Patrick Hand', cursive;
}

nav ul{
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: auto;
  padding: 2px;
}

nav li{
  list-style-type: none;
  display: inline;
  padding: 0px 15px 0px 15px;
}

.activo{
  border-bottom: solid 2px orange;
}

#content{
  overflow: auto;
  margin-left: 7%;
  margin-right: 7%;
}

/* Formation */
.left-navbar{
  width: 20%;
  font-size: 80%;
  float: left;
  overflow: auto;
  padding: 5px 30px 5px 30px;
  margin: 10px 20px 10px 20px;
  box-shadow: 2px 2px 10px #BBB;
  border-radius: 8px;
  font-family: 'Overpass', sans-serif;
  background-color: #212121;
}

.left-navbar a{
  color: white;
  text-decoration: none;
}

.left-navbar a:hover{
  text-decoration: underline;
}

.left-navbar li{
  margin-top: 5px;
  list-style-type: none;
}

.left-navbar ul{
  padding-left: 0px;
}

.left-navbar .ul-second-level{
  padding-left: 20px;
}

.left-navbar .first-li-item{
  margin-top: 15px;
}

.left-navbar .first-ul-item{
  color: orange;
  font-size: 110%;
  font-weight: bold;
}

.main-content{
  width: 70%;
  float: right;
}


/*CSS associated to general-content class*/

.general-content{
  overflow: auto;
  padding: 5px 30px 5px 30px;
  margin: 10px 20px 10px 20px;
  box-shadow: 2px 2px 10px #BBB;
  border-radius: 8px;
  background-color: #fafafa;
  font-family: 'Overpass', sans-serif;
}

.general-content img{
  width: 250px;
  margin: 0px 40px 40px 40px;
  float: right;
}

.general-content h2{
  font-weight: bold;
  text-decoration: underline;
}

.paragraph{
  box-shadow: none;
  border-radius: 0px;
  background-color: white;
  border-left: solid 20px orange;
  border-bottom: solid 1px orange;
  font-size: 90%;
}

/* CSS associadted to forms */

.form-container{
  overflow: auto;
}

.form-image{
  float:right;
  padding: 65px 0px 30px 60px;
  width: 35%;
}

.form-image img{
  width: 55%;
}

.form {
  float: left;
  width: 50%;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 6em;
  padding: 1.25em;
  box-shadow: 2px 2px 10px #BBB;
  font-family: 'Overpass', sans-serif;
}

.form h3 {
  font-size: 1.98em;
  margin-bottom: .8em;
  margin-top: .4em;
  font-weight: 100;
}

.btn-primary {
  cursor: pointer;
  box-shadow: 0;
  border: none;
  background-color: #ffa726;
  border-color: #48c9b0;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}

.btn-primary:hover {
  background-color: #ffb74d;
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}

.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  font-size: 15px;
  line-height: 1.467;
  background-color: rgb(238, 238, 238);
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

input, textarea {
  transition: all 800ms;
  font-family: "Roboto";
  resize: none;  /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none;
  font-family:inherit;
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}

input:focus, textarea:focus {
  border-color: #ffab40;
  color: #34495e;
}

input:focus + .input-field-icon {
  color: #34495e;
}

textarea.form-control {
  height: 60px;
  transition: .3s;
}

textarea.form-control:focus {
  height: 120px;
  border-color: #ffab40;
}

.social {
  display: block;
  margin: auto;
  width: 250px;
}

.social li {
  display: inline-block;
  list-style: none;
  margin: auto;
  margin-right: 10px;
}

.social li a {
  display:block;
  text-decoration: none;
  color: #999;
  border: 2px solid #999;
  border-radius: 100%;
  font-size: 26px;
  width: 34px;
  padding: 3px;
  text-align: center;
  transition: all .4s;
}

.social li a:hover {
  background: #999;
  color: white;
}

.social li a span {
  margin-top: 4px;
  text-align: center;
}


@media (max-width: 600px) {
  .form {
    width: 90%;
    margin-top: 12%;
  }
}

footer{
  text-align: center;
}
