body{
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
}

header{
  font-family: 'Gloria Hallelujah', cursive;
  border-style: solid;
  overflow: auto;
  padding: 30px;
  color: rgb(220, 220, 220);
}

nav{
  font-family: 'Patrick Hand', cursive;
  background-color: rgb(94, 57, 30);
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid;
  overflow: auto;
}

nav a{
  text-decoration: none;
  color: white;
}

nav #menu{
  float: left;
}

nav #login{
  margin: 15px 15px 0px 0px;
  float: right;
}

nav ul li{
  display: inline;
  list-style: none;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  padding: 0px 12px 0px 12px;
}

#content{
  margin-left: 7%;
  margin-right: 7%;
}


/*CSS associated to general-content class*/

.general-content{
  overflow: auto;
  padding: 5px 30px 5px 30px;
  margin: 10px 20px 10px 20px;
  box-shadow: 2px 2px 10px #BBB;
  border-radius: 15px;
  background-color: rgb(238, 238, 238);
  font-family: 'Overpass', sans-serif;
}

.general-content img{
  width: 250px;
  margin: 0px 40px 40px 40px;
  float: right;
}

.general-content h2{
  font-weight: bold;
  text-decoration: underline;
}

footer{
  text-align: center;
}
